<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>sell page</h1>
    <a href="/rent/new">create item for sell</a>
    <div>
        <%items.forEach((item) => {%>
            <h3><%=item.title%></h3>
            <p><%=item.description%></p>
            <a href="/rent/<%=item.rent_items_id%>">show</a>
        <%})%>
    </div>
</body>
</html>