<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>profile page</h1>

    <h3>Welcome <%= user.username %> with id <%=user.users_id%></h3>

    <p><a href="/profile/settings">go to settings</a></p>
    <div><a href="/logout">logout</a></div>
    
</body>
</html>