<footer class="border d-none d-md-block">
    <div class="px-5 py-5">
        <div class="row">
            <div class="col-lg-6 order-3 order-md-1">
                <div class="pt-5">
                    <span class="text-muted">
                        Rilter strives to be the largest online trading and aunction platform in
                    </span> Africa. <span class="text-muted">
                        Now, students in various institutions in Nigeria are able to buy and sell from other students,
                        as well as finding lodges. All done with ease.
                    </span>
                </div>
                <div class="pt-3 text-muted">Office: Tesmot House, 3 Abdulrahman Okene Close, off Ligali Ayorinde
                    Street, Victoria
                    Island, Lagos. 0700 933 933 933 (Mon-Fri from 9am-5pm) - contact@piggyvest.com
                </div>
            </div>
            <div class="col-lg-2 order-2 order-md-2"></div>
            <div class="col-lg-4 order-1 order-md-3">
                <div class="row pt-5">
                    <div class="col-6">
                        <h6 class="title ml-5">Quick Links</h6>
                        <ul>
                            <li class="pt-2"><a href="/" class="text-muted">Terms of Service</a></li>
                            <li class="pt-2"><a href="/" class="text-muted">Privacy Policy</a></li>
                            <li class="pt-2"><a href="/" class="text-muted">Trust and Safety</a></li>
                            <li class="pt-2"><a href="/" class="text-muted">Selling on Rilter</a></li>
                            <li class="pt-2"><a href="/" class="text-muted">Buying on Rilter</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h6 class="title ml-5">Company</h6>
                        <ul>
                            <li class="pt-2"><a href="/" class="text-muted">About</a></li>
                            <li class="pt-2"><a href="/" class="text-muted">FAQs</a></li>
                            <li class="pt-2"><a href="/" class="text-muted">Help Center</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container border-top mt-5">
            <div class="d-flex justify-content-between align-items-center">
                <div class="copy-left pt-4 text-muted">&copy; 2020 Rilter, Inc. All rights reserved</div>
                <div class="copy-left pt-4">
                    <span><a href="#"><i class="fab fa-facebook-f fa-2x pr-3"></i></a></span>
                    <span><a href="#"><i class="fab fa-instagram fa-2x pr-3"></i></a></span>
                    <span><a href="#"><i class="fab fa-twitter fa-2x"></i></a></span>
                </div>
            </div>
        </div>
    </div>
</footer>

<footer class="d-block d-md-none border">
    <div class="px-3 py-5">
        <div class="d-flex flex-column justify-content-between align-items-start">
            <div class="text-muted">&copy; 2020 Rilter, Inc. All rights reserved</div>
            <div class="d-flex justify-content-start align-items-center pt-3">
                <div><a href="#" class="text-muted">Privacy*</a></div>
                <div><a href="#" class="text-muted pl-2">Terms*</a></div>
                <div><a href="#" class="text-muted pl-2">Safety*</a></div>
                <div><a href="#" class="text-muted pl-2">Help</a></div>
            </div>
        </div>
    </div>
</footer>